*{
    margin:0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    
}

.containerMain{
        display: flex;
        align-items: center;
        justify-content: center;
}

/* Estilos del login*/
.iconInto{
    width:7%;
    margin: 10px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    Height: 250px;
}

#titleLogin{
    margin-bottom: 45px;
}

.loginView{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#emailInto, #passwordInto{
    margin:8px;
    border-radius:15px;
    width:250px;
    padding: 10px;
}
.eye{
    position: relative;
}
.iconEye1, .iconEye2, .iconEye3, .iconEye4, .iconEye5{
    position: absolute;
    right: 15px;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.iconDivLogin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btnCreateAccount{
    text-transform: uppercase;
    padding: 10px;
    border-radius: 20px;
    border-color: rgb(82 19 80);
    margin: 40px;
    background: #f4f7f9;
    border-style: groove;
}


.btnCreateAccountDestokp {
    text-transform: uppercase;
    padding: 10px;
    border-radius: 20px;
    border-color: rgb(82 19 80);
    margin: 40px;
    background: #f4f7f9;
    border-style: groove;
    display: none;
}
.registerPage{
    display: none;
}

#footerPetworld{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(189,181,219,1) 55%, rgba(148,187,233,1) 100%);
}


.btnLogin {
    margin: 12px;
    border-radius: 4px;
    width: 120px;
    background-color: #450761;
    color: #ffffff;
    padding: 13px;
}

#textNewParagraph,#textIntoParagraph,#textPasswordForget{ 
    margin:10px;
}

@media screen and (min-width:768px){
    .containerViewFirst {
        display: flex;
        flex-direction: row;
        height: 90vh;
    }

    #titleLogin{
        margin-top: 25px;
    }
    header{
        max-width: 50vw;
        background: rgb(231, 146, 183);
        background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(189,181,219,1) 55%, rgb(196, 139, 158) 100%);
    }
    #footerPetworld{
        margin-bottom: 0px;
    }
    /* metodo 2 */
    .btnCreateAccount{
    display: none;
    }
    .btnCreateAccountDestokp{
        display: block;
    }
    .registerPage1, .registerPage2, .registerPage3, .registerPage4{
        display: none;
    }
    .registerPage{
        display: block;
    }
   
}


