/* Color Theme Swatches in Hex */
.Large-Group-of-Pet-Animals-Together-1-hex { color: #84BF7A; }
.Large-Group-of-Pet-Animals-Together-2-hex { color: #D98C4A; }
.Large-Group-of-Pet-Animals-Together-3-hex { color: #594539; }
.Large-Group-of-Pet-Animals-Together-4-hex { color: #F24C27; }
.Large-Group-of-Pet-Animals-Together-5-hex { color: #F2F2F2; }

/* Color Theme Swatches in Hex */
.color{ color: #D91E50; }
.color1{ color: #401F0C; }
.color2{ color: #D96B2B; }
.color3{ color: #733B1A; }
.color5{ color: #F2F2F2; }

/* Color Theme Swatches in Hex */
.Unterschiedliche-Haustiere-–-Köpfe-in-einer-Reihe-1-hex { color: #2135A6; }
.Unterschiedliche-Haustiere-–-Köpfe-in-einer-Reihe-2-hex { color: #BF8665; }
.Unterschiedliche-Haustiere-–-Köpfe-in-einer-Reihe-3-hex { color: #A6431F; }
.Unterschiedliche-Haustiere-–-Köpfe-in-einer-Reihe-4-hex { color: #A62D2D; }
.Unterschiedliche-Haustiere-–-Köpfe-in-einer-Reihe-5-hex { color: #F2F2F2; }
 
 
 
 *{
    margin:0;
    box-sizing: border-box;
    font-family: 'Gentium Basic', serif;
}
.containerView, .containerRegister {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    background-color: #F2EEAC;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconInto{
    width:8%;
    margin: 5px;
}
.iconInto:hover{
    cursor: pointer;
    border: solid 1px;
    border-radius: 40px;
    border-color: #902fbd;
    transform: scale(1.2);
}
.header1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#gifWelcome{
    width: 32%;
    height: 22%;
    margin-top: 5%;
    display: none;
}

#titleLogin{
    margin: 3%;
    color: #594539;
}

#answerForgot{
    color: #A66D3C;
    margin: 5px;
}
.loginView{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#emailInto, #passwordInto{
    margin:8px;
    border-radius:15px;
    width:250px;
    padding: 10px;
    background-color: #dab08abd;
    /* background-color: #59453954; opcion 2*/
    /* background-color: #59453936; */
    /* background-color: #dfd65c6b; */
    border-color: #733B1A;
}
#emailInto::placeholder, #passwordInto::placeholder{
    color: #733B1A;
}
#logoLogin{
    width:50%;
}
#logoRegister{
    width:40%;
    margin: 10px;
}
.loginParagraph{
 margin: 2%;
 color:#594539;
 display: flex;
 justify-content: center;
 align-items: center;
}
.eye{
    position: relative;
}
.iconEye1, .iconEye2, .iconEye3{
    position: absolute;
    right: 15px;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #733B1A;
}

.btnCreateAccount { 
    text-transform: uppercase;
    padding: 10px;
    border-radius: 20px;
    border-color: #A66D3C;
    margin: 30px;
    background: #F2BB77;
    border-style: groove;
    color: #733B1A;
}

#btnGoogle{
    padding:5px;
    border-radius: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.registerPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.textCreateAccount{
    margin-bottom: 10px;
    color: #594539;
}

.intoTitle{
    margin: 15px;
    padding: 5px;
    text-align: center;
    color: #594539;
}
#footerPetworld{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(215,225,98,1) 0%, rgba(252,176,69,1) 30%, rgba(252,176,69,1) 70%, rgba(215,225,98,1) 100%);
    /* width: 100%; */
    padding: 5px;
    font-size: 13px;
}
.socialNetwork{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.btnLogin, #btnResetPass {
    margin: 20px;
    border-radius: 25px;
    width: 120px;
    background-color:#733b1afa;
    color: #ffffff;
    padding: 13px;
}
 #btnRegister {
    margin: 12px;
    border-radius: 25px;
    width: 120px;
    background-color:#733b1afa;
    color: #ffffff;
    padding: 13px;
}

#fullName, #emailRegister, #passwordRegister, #repeatPassword {
    margin:8px;
    border-radius:15px;
    width:60vw;
    padding: 10px;
    background-color: #59453936
}
#fullName::placeholder, #emailRegister::placeholder, #passwordRegister::placeholder, #repeatPassword::placeholder {
    color: #733B1A;
}
.passwords{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.msnerrorRepeatPassword, .msnerrorRegister, #messageComplete, #showMsn, #errorMessageComplete, #showMessageTag, #messageEmail{
    color: rgb(211 46 3);
    padding: 5px;
    font-weight: 600;
    text-align: center;
}
.questionAccount, #backLogin{
    margin: 4.5%;
    color: #A66D3C;
}
/* Estilos Home */

.homeHeader{

    /* padding: 10px;  */
    background-color: #a9852196;
 
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    /* padding: 10px 20px;
    background: #EEECF6; */
}
/* #headerImg{
    display: flex;
    align-items: center;
    background: rgb(231, 146, 183);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(189,181,219,1) 55%, rgb(196, 139, 158) 100%);

} */
/* .homeNav{ */
       /* display: none; */
    /* flex-direction: column;
    padding: 10px; */
        /* background-color: #D7B5E2; */
    /* background-color: #a9852196;
    height: 60vh;
} */
/* .homeBar1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    list-style: none;
    padding: 5px;  
} */
.homeBar2{
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    list-style: none;
    /* flex-grow: 1; */
    justify-content: space-evenly;
    padding: 15px;
    /* margin-top: 50px; */
}
/* .homePage{
    
} */
#logoHome{
    width: 25%;
}
#checkMenu{
    display: none;
}
aside{
    width: 40%;
}

.listNav, .listNav2{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 900;
    color: #753e1c;
    margin: 5px;
    text-transform: uppercase;
    padding:5px;
}
.imgIcon{
    margin: 5px;
    width: 10%;
}

.listNav:hover, .listNav2:hover{
    cursor: pointer;
    background-color: #7a442a;
    /* transform: scale(1.0); */
    border-radius: 5px;
    padding: 2px;
    color:white;
}
/* Estilos Menu hamburguesa */

.iconHamb:hover{
    cursor: pointer;
}

#searchIcon::placeholder{
    background-image: url(./img/iconsPost/buscar.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: right;
}

.modalContainer_eliminar{
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 115%;
    color:white;
    background-color: #a39d9d99;
    display: flex;
    justify-content: center;
}

/*MODAL*/
.modalContainer, .modalRegister{
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 125%;
    background-color: #a39d9d99;
    /* background-color: #b59e91c2; */
    /* background-color: #d98c4a94; */
    /* background-color: #401f0cb8; */
    /* background-color: #401f0ca1; */
    display: flex;
    justify-content: center;
    color:white;
}
.modalContent{
    /* background: #b27622; */
    background: #cdb24cf7;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 1s;
    transform: translateY(0%);
    position: absolute;
    top: 15%;
    border-radius: 10px;
    text-align: center;
}
#exitModal{
    padding: 5px 10px;
    border-radius: 13px;
    background-color: rgb(243, 47, 47);
    color: #ffffff;
    font-size: medium;
    font-weight: bolder;
    cursor: pointer;
    align-items: flex-end;
    margin: 20px;
}
.ocultar{
    visibility: hidden;
}
.mostrar{
    visibility: visible;
}


.btnCancel{
    padding: 10px;
    background-color: rgb(223, 112, 22);
    color: #ffffff;
    font-weight: bolder;
    border-radius: 10px;
    margin: 15px;
    cursor: pointer;
}

.btnOk{
    padding: 10px;
    background-color: rgb(62, 134, 90);
    color: #ffffff;
    font-weight: bolder;
    border-radius: 10px;
    margin: 15px;
    cursor: pointer;
}

#btnConfirm{
    background-color: #D98C4A;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    font-size: medium;
}

#msjModal{
    width:12%;
    margin:5px;
}
#imgModalRegister{
    width:45%
}
.textModalConfirm{
    color:#F2F2F2;
}
/*Estilos para home*/
.iconProfile{
    width:45%;
    margin: 10px;
    border-radius: 50%;
}

/*ESTILOS PARA LOS POST*/
.containerPetPost{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.containerPost{
    /* width: 60%; */
    width: 90%;
    display: flex;
    justify-content: center;
}
.textPost{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 15px;
    width: 80%;
}
#titlePost{
    background-color:#F2EEAC;
    padding: 5px;
    border-radius: 5px
}
#descriptionPost{
    background-color: #e2e1e3;
    padding: 15px;
    border-radius: 5px 5px 0px 0px;
}
#descriptionPost::placeholder, #titlePost::placeholder{
    text-align: center;
    text-transform: uppercase;
    color: #401f0c78;
    font-size: medium;
    text-decoration: double;

}
#iconPost{
background-color: #D7B5E2;
padding: 3px;
width: 60%;
}
.divButtonPost{
    display: flex;
    flex-direction: row-reverse;
}
.buttonPost{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background-color:#733b1afa;
    color: #ffffff;
    text-transform: uppercase;
    
}

.selectIcons{
    display: flex;
    justify-content: space-between;
    background-color: #D7B5E2;
    border-radius: 0px 0px 5px 5px;
    align-items: center;
}
#selectCategory{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
.imgPost {
    margin:5px;
}

    /***SHOWWPOST-BLOQUE DE PUBLICACIONES POSTEADAS"*/
    
    #showPost{
        display: flex;
        flex-direction: column;
        width: 90%;
        border-radius:5px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .imgShowPost{
        width: 25px;
        margin: 5px;
    }
    .blockShowPost{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
        border-radius: 10px;
        width: 85%;
        background-color: #F2EEAC;
        /* background-color: #ffffff; */
        box-shadow: 0 0 20px rgb(138, 137, 137); 
    }
    /* #showText{
        padding: 10px;
    } */
    .textShowPost{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    #titleShowPost{
        text-transform: uppercase;
        padding: 5px;
        text-align: center;
        width: 100%;
        border-color: #bf7d32;
        border-style: double;
        color: #bf7d32;
    }
    #descripShowPost{
        text-align: justify;
        padding: 5px;
    }
    #iconShowPost{
        display: flex;
        /* border-color: #902fbd;
        background-color: #D7B5E2; */
        background-color: #c8c36c;
        width: 100%;
        align-items: center;
        padding: 5px;
    }


    /***Contador de Likes***/
  #checkLikes{
    display: none;
  }
  .containerLikes{
      display: flex;
      flex-direction: row;

  }
/*ESTILOS PARA RESET PASSWORD*/
.containerReset{
    background-image: url(./img/patitass.png);
    background-repeat: no-repeat;
    background-size: 125%;
    /* background-size: contain; */
    width: 100%;
    /* background-color: #f0e7d863; */
    /* background-color: #a6633c75; */
    background-color: #a77b5582;
    /* background-color: #a66d3c9c; */
    /* background-color: #8c6e549c; */
    /* background-color: #b77a1d;*/
}

.headerReset{
    display: flex;
    align-items: center;
    justify-content: center;
}
#logoReset, #imgforgot{
    width:45%;
}
.resetPassDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.emailResetPass{
    
    margin:8px;
    border-radius:15px;
    padding: 10px;
}
#titleReset, #resetParagraph{
    margin: 3%;
    color: #594539;
    text-align: center;
}
.msmConfirm{
    margin:5px;
    border-radius: 5px;
    text-align: center;
    background-color: #f0e7d8;
    padding: 15px;
    color: chocolate;
    font-weight: bolder;
    border-color: #866c47;
    border-style: groove;
}
/* #resetParagraph{
    margin: 2%;
    color:#594539;
} */

/*ESTILOS PARA DESTOKP*/

@media screen and (min-width:768px){
    .containerView{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: row;
        background-color: #F2EEAC;
        background-image: url(./img/fondoRegister.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        /* height: 90vh; */

    }
    .containerRegister{
        /* display: flex; */
        text-align: center;
        /* justify-content: center; */
        flex-direction: row;
        /* background-color: #F2EEAC;*/
    } 

    header>label{
        display: none;
    }
    #gifWelcome{
        display:block;
    }
    /* .homeNav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } */
    /* .hide{
        display: block;
    } */
    .iconHamb {
        display: none;
    }
    .headerRegister{
        width: 50%;
        background-image: url(./img/animalesportada.png);
        background-size: 90%;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: center;
        background-color: white;
        border-radius: 0px 360px 360px 0px;
        display:flex;
        align-items: center;
        justify-content: center;        
    }
    .header1{
        /* background-color: white; */
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border-radius: 0px 300px 300px 0px; */
        /* background-image: url(./img/fondoRegister.jpg);
        background-repeat: no-repeat;
        background-size: cover; */
    }
    .loginView{
        width: 50%;
    }
    /* #titleLogin{
        margin-top: 25px;
    } */
    #logoLogin{
        width: 30%;
    }
    /* #logoRegister{
        width:40%
    } */
    #btnGoogle{
        width:30%
    }
    #footerPetworld{
        margin-bottom: 0px;
    }
    #logoReset, #imgforgot{
        width:15%;
    }

    aside{
        width: 20%;
    }
    .containerPost{
        width: 60%;
    }
   
    .registerPage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 50%;
    }
    /* .fullName{
        display: flex;
        flex-direction: row;
    } */
    /* #fullName, #dateBirth { 
        width:15vw;
    } */
    #fullName, #emailRegister, #passwordRegister, #repeatPassword {
        width:31vw;
    }
    #logoHome {
        width: 10%;
    }
    .blockShowPost{
        width:75%
    }
    #showPost{
        width: 75%;
    }
    /* .dateBirthDiv{
        display: flex;
        flex-direction: row;

    } */
}

.posts{
    display: flex;
    /* background-color: #f4f7f9; */
    background-color: #bda96d9e;
    background-image: url(./img/fondpo.png);
}

/*Barra personalizada*/
body::-webkit-scrollbar{
    width:10px;
    background-color: #fff;
  }
  body::-webkit-scrollbar-thumb{
   border-radius: 5px;
   background-color: #a17627;
   width: 8px;
   margin: 2px
  }

/* .containerPost{
    display: flex;
    background-color: orange;
} */
/* .photoProfile{
   
} */
/* .hide{
    display:none;
} */